<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password :: Bookstore Application</title>
</head>
<body>
    <h3>
        Dear Customer,
    </h3>
    <h4>
        Please click on the below mentioned link to reset your password :: Bookstore
    </h4>
</body>
</html>